.body_header {
    margin-top: 68px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 26px;
    flex-wrap: wrap;

}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@500&display=swap');

.body_tagline {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 7px;
    gap: 10px;
    background: #7749F8;
    border-radius: 2px;
    margin-right: 16px;
}

.label_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 11px;

    text-align: center;

    color: #FFFFFF;
}

.label_button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.filter_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 800px) {
    .body_header {
        max-width: 740px;
        margin: auto;
        margin-top: 68px;
        margin-bottom: 26px;
    }
    .body_tagline {
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .body_header {
        max-width: 1130px;
        margin: auto;
        margin-top: 68px;
        margin-bottom: 26px;
    }
}
