.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7749F8;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;

}
.header_buttons {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}


.header_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 45px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.button_group_1 {
    display: flex;
    justify-content: space-between;
}

.button_group_2 {
    display: flex;
}

.link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DEE2E6;
    text-decoration: none;
    margin-left: 16px;

}

.link:hover {
    text-decoration: underline;
    color: #DEE2E6;
}