@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@500&display=swap');

.search_string {
    background-color: rgba(0, 125, 215, 0.7);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DEE2E6;
}

.input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ABB5BE;
}

  