.user_info {
    display: flex;
    margin-top: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@500&display=swap');

.page_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 24px;
    margin-bottom: 45px;

    color: #152536;

}

.field_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #7749F8;
    margin-right: 35px;
    margin-bottom: 34px;
}

.field_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;

    color: #7B828A;
}

.field_container {
    display: flex;

}

.page {
    margin-top: 56px;
    margin-left: 40px;
}